<%= javascript_include_tag 'lib/stories/story_form' %>
<% form_for([:admin, @story], :html => {:class => 'admin-form', :id=>"story_form"}) do |f| %>
  <%= f.error_messages %>
  <div class="form-field-container">
    <div class="form-field-label"><%= f.label :title %></div>
    <div class="form-field"><%= f.text_area :title, :rows => 1 %></div>
  </div>
  <div class="form-field-container">
    <div class="form-field-label"><%= f.label "Author" %></div>
    <div class="form-field"><%= f.select :user_id, User.find(:all, :conditions => "user_type_id = #{UserType.author.id}").collect {|u| [u.display_name, u.id]} %></div>
  </div>
  <div class="form-field-container">
    <div class="form-field-label"><%= f.label :synopsis %></div>
    <div class="form-field"><%= f.text_area :synopsis, :rows => 10 %></div>
  </div>
  <div class="form-field-container">
    <div class="form-field-label"><%= f.label :copyright %></div>
    <div class="form-field"><%= f.text_area :copyright, :rows => 1 %></div>
  </div>
  <div class="form-field-container">
    <div class="form-field-label"><%= f.label :license %></div>
    <div class="form-field"><%= f.text_area :license, :rows => 5 %></div>
  </div>
  <div class="form-field-container">
    <%= f.submit 'Save', :class => "submit-button", :id=> "submit_button" %>
  </div>
<% end %>
