<h1>New section</h1>

<% form_for(@section) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :story_id %><br />
    <%= f.text_field :story_id %>
  </p>
  <p>
    <%= f.label :section_type_id %><br />
    <%= f.text_field :section_type_id %>
  </p>
  <p>
    <%= f.label :parent_type %><br />
    <%= f.text_field :parent_type %>
  </p>
  <p>
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </p>
  <p>
    <%= f.label :display_after_id %><br />
    <%= f.text_field :display_after_id %>
  </p>
  <p>
    <%= f.label :synposis %><br />
    <%= f.text_area :synposis %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', sections_path %>