<h1>New story</h1>

<% form_for(@story) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :synopsis %><br />
    <%= f.text_area :synopsis %>
  </p>
  <p>
    <%= f.label :copyright %><br />
    <%= f.text_area :copyright %>
  </p>
  <p>
    <%= f.label :license %><br />
    <%= f.text_area :license %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', stories_path %>