<p>
  <b>Title:</b>
  <%=h @story.title %>
</p>

<p>
  <b>User:</b>
  <%=h @story.user_id %>
</p>

<p>
  <b>Synopsis:</b>
  <%=h @story.synopsis %>
</p>

<p>
  <b>Copyright:</b>
  <%=h @story.copyright %>
</p>

<p>
  <b>License:</b>
  <%=h @story.license %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>