<h1>Listing section_types</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @section_types.each do |section_type| %>
  <tr>
    <td><%=h section_type.name %></td>
    <td><%= link_to 'Show', section_type %></td>
    <td><%= link_to 'Edit', edit_section_type_path(section_type) %></td>
    <td><%= link_to 'Destroy', section_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New section_type', new_section_type_path %>