<p>
  <b>Title:</b>
  <%=h @section.title %>
</p>

<p>
  <b>Story:</b>
  <%=h @section.story_id %>
</p>

<p>
  <b>Section type:</b>
  <%=h @section.section_type_id %>
</p>

<p>
  <b>Parent type:</b>
  <%=h @section.parent_type %>
</p>

<p>
  <b>Parent:</b>
  <%=h @section.parent_id %>
</p>

<p>
  <b>Display after:</b>
  <%=h @section.display_after_id %>
</p>

<p>
  <b>Synposis:</b>
  <%=h @section.synposis %>
</p>


<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>