<% form_tag(authenticate_path, :method => 'post', :id => 'login_form') do  %>
    <%= flash[:error] %>
    <%= flash[:notice] %>
    <p>
      Email:
      <%= text_field_tag 'email' %>
    </p>
    <p>
      Password:
      <%= password_field_tag 'password' %>
    </p>
    <p>
    <%= submit_tag 'Log In' %>
    </p>

    <p>
      <%= link_to "Forgot your password?", forgot_password_path %><br />
      <%= link_to "Don't have an account? Get one now!", new_profile_path %>
    </p>

<% end %>