<form {{action login content on="submit"}} class="form-horizontal">
  <legend>Login</legend>
    {{#if errorMsg}}
      <div class="alert alert-danger">
        {{errorMsg}}
      </div>
    {{/if}}

  {{view Seanchai.TextField valueBinding="username" fieldId="username" action="login" label="Username"}}
  {{view Seanchai.TextField valueBinding="password" fieldId="password" action="login" type="password" viewName="passwordField" label="Password"}}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input {{action login}} type="submit" class="btn btn-primary" value="Login" />
      <input {{action cancel}} type="submit" class="btn" value="Cancel" />
    </div>
  </div>
</form>