<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="brand strong">{{#link-to 'home'}}Seanchai{{/link-to}}</div>
      <ul class="nav">
          <li>{{#link-to 'help'}}Help{{/link-to}}</li>
        <li>{{#link-to 'stories.new'}}New Stories{{/link-to}}</li>
      </ul>
      <div class="btn-group pull-right">
        {{#if authenticated}}
          <button class="btn" {{action profile}}>Profile</button>
            <button class="btn" {{action logout}}>Logout</button>
        {{else}}
            {{view Seanchai.MenuItem href="#/login" label="Login" }}
            {{view Seanchai.MenuItem href="#/registration" label="Register"}}
        {{/if}}
      </div>
    </div>
  </div>
</div>