<div class="form-horizontal">
  <legend>Registration</legend>
    {{#if errorMsg}}
      <div class="alert alert-danger">
        {{{errorMsg}}}
      </div>
    {{/if}}
    {{view Seanchai.RequiredTextField valueBinding="username" fieldId="username" action="register" label="Username"}}
    {{view Seanchai.RequiredTextField valueBinding="email" fieldId="email" action="register" label="Email"}}
    {{view Seanchai.RequiredTextField valueBinding="password" fieldId="password" action="register" label="Password" type="password" viewName="passwordField"}}
    {{view Seanchai.ConfirmationTextField valueBinding="password_confirmation" fieldId="password_confirmation" action="register" type="password" label="Confirm Password" confirmFieldBinding="view.passwordField"}}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input {{action register}} type="submit" class="btn btn-primary" value="Register" />
      <input {{action cancel}} type="submit" class="btn" value="Cancel" />
    </div>
  </div>
</div>