<legend>{{controller.username}}</legend>
{{#if errorMsg}}
  <div class="alert alert-error">
      {{errorMsg}}
  </div>
{{/if}}
<div class="row-fluid">
  <div class="span1">Name: </div>
  <div class="span1">{{view Em.TextField valueBinding="name" id="name" action="login"}}</div>
</div>
<div class="row-fluid">
  <div class="span1">Email: </div>
  <div class="span1">{{view Em.TextField valueBinding="email" id="email" action="login"}}</div>
</div>
<div class="row-fluid">
  <div class="span1">
    <input {{action save}} type="submit" class="btn btn-primary" value="Save" />
  </div>
</div>
