<div class="form-horizontal">
  <legend>{{controller.username}}</legend>
  {{#if errorMsg}}
    <div class="alert alert-error">
        {{errorMsg}}
    </div>
  {{/if}}
  {{view Seanchai.TextField valueBinding="name" fieldId="name" action="submit" label="Name"}}
  {{view Seanchai.RequiredTextField valueBinding="email" fieldId="email" action="submit" label="Email" size="100" field-size="col-xs-2"}}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input {{action save}} type="submit" class="btn btn-primary" value="Save" />
    </div>
  </div>
</div>